@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
	margin: 0;
	padding: 0;
	background-color: #2C2B30;
	font-family: 'Montserrat', sans-serif;
}

.container
{
	position: absolute;
	width: 100vw;
	left: 0%;
	top: 0%;
	transform: translate(0%, 0%);
	text-align: center;
}

.container a
{
	color: #D6D6D6;
	text-decoration: none;
}

.title
{
	color: white;
	font-weight: 900;
	font-size: 3em;
	letter-spacing: 2px;
}



.new
{
	position: absolute;
	font-size: 0.75em;
	color: #D6D6D6;
	top: 49px;
	right: 214px;
	text-transform: uppercase;
}

.new:hover
{
	position: absolute;
	font-size: 0.75em;
	color: #F58F7C;
	top: 49px;
	right: 214px;
	font-weight: bold;
	text-transform: uppercase;
}

.used 
{
	position: absolute;
	font-size: 0.75em;
	color: #D6D6D6;
	top: 49px;
	right: 169px;;
	text-transform: uppercase;
}

.used:hover
{
	position: absolute;
	font-size: 0.75em;
	color: #F58F7C;
	top: 49px;
	right: 169px;;
	font-weight: bold;
	text-transform: uppercase;
}
